:root{
    --btnColor: #b388eb;
    --textCntent: #333;
    --textSecondary: #fff;
}
.container-intro{
    opacity: 0;
    transform: translateY(20px);
    animation: muncul 1s ease-in-out forwards;
}
@keyframes muncul {
    from{
        opacity: 0;
        transform: translateY(20px);
    }to{
        opacity: 1;
        transform: translateY(0);
    }
}
.teck-view{
    opacity: 0;
    transform: translateY(20px);
    animation: muncul 1s ease-in-out forwards;
}
.btn-music {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 1000;
}
.btn-music img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
/* style chatbox */
.chat1{
    max-width: 90%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    background-color: white;
    color: var(--textCntent);
    padding: 20px;
    border-radius: 8px;
}
.chat1 h3{
    margin-bottom: 10px;
    color: var(--textCntent);
    text-align: center;
}
.non-chat{
    display: none;
}
.chatBox1{
    border: none;
    background-color: var(--btnColor);
    color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}
